/* .new-collections{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.new-collections h1{
    color: #717171;
}

.new-collections hr{
    width: 80%;
    border: 1px solid #717171;
}

.item img{
    width: 100%;
    object-fit: contain;
} */
/* 
.item-description{
    padding: 1rem;
} */

@media(min-width: 768px){
    .collections {
        margin: 50px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 1rem;
    }
    
    .item{
        outline: 1px solid black;
    }
}
